.red{
	background-color: red;
	height: 100px;
	width: 100px;
	position: absolute;
	left: 208px;
	top: 208px;
}
.blue{
	background-color: blue;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 108px;
	left: 108px;
	font-family: 
}
.yellow{
	background-color: yellow;
	height: 100px;
	width: 100px;
}